@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500&display=swap');

.background{
  width: 100%;
  height: 100%;
  background: var(--blue);
}

.main{
  width: 80%;
  height: 100%  ;
  margin: auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title{
  margin: 0;
  font-weight: 700;
  font-size: 144px;
  font-family: 'Roboto Condensed';
  color: var(--gray-100);
  margin-bottom: 100px;
}

.img{
  width: 100%;
}