@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --purple: #8385fa;
  --purple-dark: #5E60CE;

  --gray-700: #0d0d0d;
  --gray-600: #1a1a1a;
  --gray-500: #262626;
  --gray-400: #333333;
  --gray-300: #808080;
  --gray-200: #D9D9D9;
  --gray-100: #f2f2f2;

  --blue-dark: #1e6f9f;
  --blue: #4EA8DE;
  width: 100%;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
}
